body {
  margin: 0px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  width: 100%;
  font-family: sans-serif;
}

#background {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(20, 20, 20, 0.5);
  z-index: 0;
}

#header {
  display: flex;
  flex-direction: row;
  color: white;
  z-index: 2;
}

.logo {
  position: absolute;
  width: 100%;
  top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
}

.logo > img {
  height: 100px;
  width: 100px;
}

.logo > h1 {
  padding-left: 20px;
}

.command {
  position: absolute;
  top: 35%;
  left: 70%;
  right: 30%;
}

.info {
  position: absolute;
  top: 35%;
  left: 25%;
  color: white;
}

.buttons {
  position: absolute;
  width: 100%;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.buttons > button {
  color: white;
  font-size: 20px;
  padding: 10px;
  border: none;
  background: none;
}

.buttons > button:hover{
  cursor: pointer;
  opacity: 0.7;
}

.buttons > button:focus{
  outline: none;
}

.buttons > button:last-child:hover{
  cursor: auto;
  opacity: 1;
}

.red {
  color: red !important;
}

#instructions {
  position: fixed;
  background: black;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  z-index: 30;
}

#instructions > h4 {
  color: white;
  position: absolute;
  left: 40%;
  right: 40%;
  top: 30%;
}

#instructions button {
  color: white;
  font-size: 20px;
  background: green;
  border: none;
  border-radius: 2px;
}

#instructions button:last-child {
  color: white;
  font-size: 20px;
  background: grey;
  border: none;
  position: absolute;
  right: 0px;
}

#instructions button:hover {
  cursor: pointer;
  opacity: 0.8;
}

#game-window {
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 5;
}

#winning-message {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  opacity: 0.9;
  color: white;
  z-index: 20;
}

#winning-message > p {
  position: absolute;
  top: 45%;
  font-size: 25px;
  opacity: 1;
}

.footer {
  color: white;
  z-index: 5;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.social-icon {
  color: white;
}

.social-icon:hover {
  opacity: 0.7;
}

.fa-github {

  padding: 10px;
}

.fa-linkedin {
  padding: 10px;
  padding-left: 5px;
}

.love {
  display: inline-block;
  position: relative;
  top: .2em;
  font-size: 1.4em;
  color: #e74c3c;
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
  -webkit-animation: love .5s infinite linear alternate-reverse;
  -moz-animation: love .5s infinite linear alternate-reverse;
  animation: love .5s infinite linear alternate-reverse;
}
@-webkit-keyframes love {
  to {-webkit-transform: scale(1.2);}
}
@-moz-keyframes love {
  to {-moz-transform: scale(1.2);}
}
@keyframes love {
  to {transform: scale(1.2);}
}
